body{
  background-color: black;
}
.container{
  padding-bottom: 10%;
  padding-top: 5%;
  background-color: #d7dde8;
  text-align: center;
}
.flashy {
  float: left;
  width: 20%;
  background-color: #d7dde8;
  border: 2px solid #1b4591;
  padding-bottom: 10%;
  margin: 3%;
}
.resize {
  width: 90%;
}
.sidebar{
float: right;
width: 17%;
background-color: green;
border: 2px solid yellow;
margin-left: 3%;
padding-bottom: 100%;
}
